.progress-container {
  width: 100%;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  margin: 10px 0;
}

.progress-bar {
  height: 100%;
  background-color: #007bff;
  transition: width 0.2s ease-in-out;
}

.progress-bar.paused {
  animation: none;
}

.app-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#0ce77a,#1ac450);
  height: 100vh;
  color: white;
}

@keyframes progressAnimation {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
